/* author: github.com/pgmdf */
/* individual styles - main styles refer to bootstrap */

body {
    background-color: whitesmoke;
}

#start-screen {
    position: absolute;
    top: 40vh;
}


.transition-test {
    background-color: rgba(255, 0, 0, 0.2);
    transition: background-color 1s ease;
}

.new-card {
    background-color: rgba(255, 0, 0, 0.8);
}


.user-score {
    color: lightblue;
    font-size: 1rem;
    transition: all 1s ease;
}

.computer-score {
    color: lightblue;
    font-size: 1rem;
    transition: all 1s ease;
}

.score-up {
    color: green;
    font-size: 4rem;
}

.score-down {
    color: red;
    font-size: 0.5rem;
}