/* author: github.com/pgmdf */
/* individual styles - main styles refer to bootstrap */

body {
    background-color: whitesmoke;
}

#start-screen {
    background-color: #d95032;
    height: 100%;
    width: 100%;
    position: fixed;
}

#start-game-button {
    background-color: whitesmoke;
    color: rgb(62, 69, 75);
    border-color: rgb(62, 69, 75);
}

.pgmdf-vw {
    max-width: 90vw;
}

.overlay {
    background-color: #1B8CA6;
    color: white;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.endscreen {
    background-color: #d95032;
    color: white;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 1s;
}

#write-winner {
    font-size: 2em;
    text-align: center;
    background: none repeat scroll 0 0 #d95032;
    color: rgb(255, 130, 130);
    /* color: #ea5837; */
    text-shadow: 0 -1px 1px #8c3d20, 0 1px 1px #FFFFFF;
}

#game-section {
    background-color: lightgray;
    border: 1px solid lightslategray;
    border-radius: 20px;
}

#card-img {
    border: 1px solid lightslategray;
    border-radius: 10px;
    /* width: 80vw;
    height: 25vh; */
    box-shadow: 2px 0px 1px 2px rgba(245, 245, 245, 0.6), -2px 0px 1px 2px rgba(245, 245, 245, 0.6), 0px -2px 1px 2px rgba(245, 245, 245, 0.6), 0px 2px 1px 2px rgba(245, 245, 245, 0.6);
    z-index: 5;
}

#card-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: -2.25em;
    background-color: yellowgreen;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.transition-test {
    background-color: rgba(255, 0, 0, 0.2);
    transition: background-color 1s ease;
}

.new-card {
    background-color: rgba(255, 0, 0, 0.8);
}


.user-score {
    color: #B9B8B8;
    /* text-shadow: 3px 3px 0 #EEEEEE, 5px 5px 0 #707070; */
    /* text-shadow: 0px 1px #707070, 1px 0px #707070, -1px 0px #707070, 0px -1px #707070; */
    font-size: 1rem;
    transition: all 1s ease;
}

.computer-score {
    color: #B9B8B8;
    /* text-shadow: 3px 3px 0 #EEEEEE, 5px 5px 0 #707070; */
    /* text-shadow: 0px 1px #707070, 1px 0px #707070, -1px 0px #707070, 0px -1px #707070; */
    font-size: 1rem;
    transition: all 1s ease;
}

.score-up {
    color: green;
    font-size: 4rem;
}

.score-down {
    color: red;
    font-size: 0.5rem;
}

.btn-pgmdf {
    background-color: #1B8CA6;
    color: white;
}

.active.btn-pgmdf {
    background-color: #D3E930;
    color: #707070;
    border: 1px solid rgb(134, 147, 32);
}

.fas {
    color: #B9B8B8;
    text-shadow: 1px 1px 0 #EEEEEE, 2px 2px 0 #707070;
    /* text-shadow: 0px 1px #707070, 1px 0px #707070, -1px 0px #707070, 0px -1px #707070; */
}

.btn-pgmdf-warning {
    background-color: #00000029;
}